body{
  font-family:"Verdana", sans-serif;
  color: #262626;
  background-color: #99ccff;
}
img {
  border: 3px solid #258e25;
  border-radius: 4px;
  background-color:#f2f2f2;
  padding: 5px;
}

#chain {
  width: 200px;
}

#web {
  width: 300px;
}

#sources{
  font-size: 13px;
}

* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 3%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}